.canvas {
  margin: 0 auto;
  display: block;
  background-color: #ccc;
  border: 1px solid #555;
  position: relative;
  max-width: 1024px;
  max-height: 600px;
}

.title-image {
  margin: 0 auto;
  position: relative;
  display: inline-block;
}

.title {
  position: absolute;
  left: 50%;

  min-height: 118px;
  padding: 18px 12px 12px 12px;

  display: block;
  margin: 0 auto;
}

.white-wash-top {
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  background-image: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.9));
  color: #333;
}
.white-wash-bottom {
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.9));
  color: #333;
}
.white-wash-left {
  border-right: 1px solid rgba(255, 255, 255, 0.15);
  background-image: -webkit-linear-gradient(right, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.9));
  color: #333;
}
.white-wash-right {
  border-left: 1px solid rgba(255, 255, 255, 0.15);
  background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.9));
  color: #333;
}

.dark-wash-top {
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9));
  color: white;
}
.dark-wash-bottom {
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9));
  color: white;
}
.dark-wash-left {
  border-right: 1px solid rgba(255, 255, 255, 0.15);
  background-image: -webkit-linear-gradient(right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9));
  color: white;
}
.dark-wash-right {
  border-left: 1px solid rgba(255, 255, 255, 0.15);
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9));
  color: white;
}

